.header {
    display: flex;
    justify-content: center;

    height: 96px;

    background-color: var(--black);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70%;
}

.header__list ul{
    display: flex;
    gap: var(--space);
}

.header__list ul li a {
    color: var(--white);
    font-family: var(--secundary-font);
    font-weight: 500;
    font-size: 1.125rem;
}

.cabecalho__menu-mobile {
    width: 80px;
    height: 30%;
    display: none;
    justify-content: space-between;
    flex-direction: column;
}

.cabecalho__menu-mobile div{
    background-color: var(--white);
    width: 40px;
    height: 4px;
}

@media (max-width: 800px) {
    .header__container {
        width: 90%;
    }

    .header__image {
        margin-left: 2em;
    }

    .cabecalho__menu-mobile {
        display: flex;
    }

    .cabecalho__menu-mobile.active #menu2 {
        opacity: 0;
    }

    .cabecalho__menu-mobile.active #menu1 {
        transform: translateY(12px) rotate(45deg);
        transition: 0.3s;
    }

    .cabecalho__menu-mobile.active #menu3 {
        transform: translateY(-12px) rotate(-45deg);
        transition: 0.3s;
    }

    .header__list{
        position: fixed;
        top: -100%;
        left: 0;
        gap: 0;
        background-color: var(--black);
        width: 100%;
        transition: 0.3s;
        padding-bottom: 1em;
    }

    .header__list ul {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .header__list ul li {
        margin: 16px 0;
    }

    .header__list.active {
        display: flex;
        top: 96px;
    }
}