.header {
    display: flex;
    justify-content: center;
    height: 96px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 70%;
}

.header__list ul{
    display: flex;
    gap: var(--space);
}