/* section principal */

.budget{
    display: flex;
    justify-content: center;
    min-height: 1100px;
    padding: 120px;

    background-image: linear-gradient(to bottom, var(--grey11) 0%, 
                                    var(--grey11) 50%, 
                                    var(--grey1) 50%, 
                                    var(--grey1) 100%);
}

/* estilo form da direita */

.budget__form{
    width: 100%;
    max-width: 740px;
    min-height: 950px;
    padding: var(--space);
}