.main__associate{
    padding: var(--space);
}

.main__associate h1{
    font-family: var(--secundary-font);
    font-size: 4rem;
    margin: 0 0 30px 0;
}

.associate__logos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.associate__logos figure{
    padding: 20px;
    justify-self: center;
}